@model IEnumerable<AppVendasWeb.Models.Categoria>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<div class="table-responsive text-center">
	<table class="table table-dark table-striped table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CategoriaNome)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CategoriaNome)
					</td>
					<td>
						<a class="btn btn-outline-success me-3" asp-action="Edit" asp-route-id="@item.CategoriaId"><svg bootstrap-icon="PencilSquare" width="19" height="19" aria-label=""></svg></a>
						<a class="btn btn-outline-info me-3" asp-action="Details" asp-route-id="@item.CategoriaId"><svg bootstrap-icon="Info" width="19" height="19" aria-label=""></svg></a>
						<a class="btn btn-outline-danger me-3" asp-action="Delete" asp-route-id="@item.CategoriaId"><svg bootstrap-icon="Trash" width="19" height="19" aria-label=""></svg></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
